/* Icon Container */
.icon-container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 120px 20px;
}

.icon {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}