/* ================= NAVBAR ================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;
  background: linear-gradient(to right, #ca25eb, #5f1e8a);
  backdrop-filter: blur(12px);
  box-shadow: 0 5px 25px rgba(109, 40, 217, 0.15);
  
  z-index: 999;
}

/* Logo */
.navbar h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #121212;
  letter-spacing: 1px;

  white-space: normal;   /* Allow wrapping */
  max-width: 60%;
}
@media (max-width: 768px) {

  .navbar h2 {
    font-size: 1rem;
    max-width: 70%;
    line-height: 1.3;
  }

}

/* Desktop Links */
.nav-links {
  display: flex;
  gap: 2.5rem;
}

/* Links */
.nav-links a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  color: #100f10;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #f2f1f4;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #7c3aed;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hamburger Icon */
.menu-icon {
  display: none;
  font-size: 1.6rem;
  color: #6d28d9;
  cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .navbar {
    padding: 1rem 1.5rem;
  }

  .navbar h2 {
    font-size: 1.2rem;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;

    background: rgba(246, 244, 247, 0.95);
    backdrop-filter: blur(10px);

    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem 0;

    transform: translateY(-200%);
    transition: transform 0.4s ease;
  }

  .nav-links.active {
    transform: translateY(0);
  }
}